.select-container {
    width: 800px;
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
}

.down_a {
    color: rgb(139, 213, 26);
    font-size: 16px;
    text-decoration: underline;
}
