.content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#file{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  cursor: pointer;
  opacity: 0;
}